*{
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid ;
    width: 48vw;
    height: 41rem;
    margin-left: 18rem;
    border-radius: 3rem;
    background-color:rgb(211, 201, 201);
}



.heading{
    text-align: center;
    margin-top: 2rem;
    border-bottom: 2px solid black;
    margin-inline: 1rem;
    border-radius: 3rem;
}

.box{
    display: flex;
    flex-direction: column;
}
.input1{
    border: 1px solid black;
    padding: .5rem;
    width: 43vw;
    margin-left: 1rem;
    margin-top: 0.5rem;
    background-color: white;
    border-radius: 1rem;
}



.input{
    padding:0.5rem;
    width: 43vw;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.name{
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.btn{
    width: 5rem;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: red;
    font-size: 1rem;
    cursor: pointer;
}